#app3 .square {
    border: 1px solid grey;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 10vw;
    height: 10vw;
    transition: 1s;
    text-align: center;
    padding-top: 40px;
    background: yellowgreen;
}
#app3 .square.active {
    transform: translateX(15vw);
}